{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Images" %}{% endblock %}

{% block content %}
    <h1>{% trans "ItemList" %}</h1>
    <h2>
        {% for Product in images %}
             <h1><a href="{% url 'post_detail' pk=Product.pk %}"> {{ Product.title }}</a></h1>
               <br/>
            <a href="{% url 'post_detail' pk=Product.pk %}">
                <img alt="{{ Product.title }}" src="{{ MEDIA_URL }}{{ Product.image.name }}" /><br/><br/>
            </a>
        {% endfor %}
    
    <a href="{% url "add_image" %}">{% trans "AddItems" %}</a></h2>
{% endblock %}
